<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" > <!-- To run the test cases parallel include this -> parallel="classes" -->
    <classes>
	 <class name="com.eurowings.testcases.TC001_VerifySearchByRoute_Today"/>
      <class name="com.eurowings.testcases.TC002_VerifySearchByRoute_RelevantResultsDisplayedforToday"/>
	  <class name="com.eurowings.testcases.TC003_VerifySearchByRoute_RelevantResultsDisplayedforTomorrow"/>
	  <class name="com.eurowings.testcases.TC004_VerifySearchByInvalidRoute"/>
	  <class name="com.eurowings.testcases.TC005_VerifyAutoSuggestionforSearchQuery"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->